@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Richardson";
}

@model BenjaminRichardsonASPNETWebApp.Models.FormModel


<body>
    <div>
        <!--Create a form to gather the percentage score inputs for the student-->
        <h2>Grade Calculator</h2><br />
        Enter all scores as a percentage
        <form method="post">
            <br />
            <label>Enter Score for Assignments</label>
            <input id="asnmts" asp-for="asnmts" placeholder="100.0" /> <br />
            <label>Enter Score for Group Projects</label>
            <input id="gp" asp-for="gp" placeholder="100.0" /> <br />
            <label>Enter Score for Quizzes</label>
            <input id="quiz" asp-for="quiz" placeholder="100.0" /> <br />
            <label>Enter Score for Exams</label>
            <input id="exam" asp-for="exam" placeholder="100.0" /> <br />
            <label>Enter Score for INTEX</label>
            <input id="intex" asp-for="intex" placeholder="100.0" /> <br /> <br />
            <input type="submit" value="Calculate Grade" id="submit" />
            <div asp-validation-summary="All"></div>

        </form>
    </div>
    <br /><br />
</body>