@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Richardson";
}


    <img src="img/IMG_5482.jpg" style="width:750px;height:500px;" />
    <p>My preferred name is Benjamin, Benji, Jamin, or really anything other than Ben. There's just already a lot of Ben's, ya know?</p>
    <br />
    <p>
        <b>What do I want to get out of this class? </b>That's a great question. I am not entirely comfortable programming, and would really love to
        put in the time necessary to really understand this course material. Object oriented programming is not one of my IS strengths, but I beleive it
        can be. That's why I'm really hoping to master the material in the course this semester.
    </p>
    <br />
    <p>My top 3 jobs for post-graduation</p>
    <ul class="jobs">
        <li>1. Consultant</li>
        <li>2. Stay at home Dad</li>
        <li>3. International Art Thief (just as backup)</li>
    </ul>
<br /><br />
  